.paginacao {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: var(--white);
}

a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--yellow-300);
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.pageNumber {
    display: inline-flex;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid var(--black-100);
    text-align: center;
}


.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.pageNumber:hover {
    border: none;
}