.container, .grid, .lowerpage{
    max-width: 70%;
}

.container{
    display: flex;
    padding-bottom: 10px;
}

.pesquisa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.novocliente{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--primario-blue);
    color: var(--fundo-side-white);
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 125px;
}

.grid{
    display: grid;
    padding: 5px 5px 5px 10px;
    max-height: 750px;
    grid-auto-rows: min-content;
    row-gap: 10px; 
}
