.container{
    display: flex;
    padding: 10px;
}

.pesquisa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.novocliente{
    display: flex;
    align-items: center;
    gap: 4px;

    background-color: var(--yellow-400);
    color: var(--black-400);
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 125px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 5px 5px 5px 10px;
}

