.todo {
    position: relative;
    width: 100%;
    flex: 0 1 100%;
}

.listagem{
    display: none;
    opacity:  0;
}

.listagem.active{
    display: block;
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 64px;
    background-color: var(--white);
    border-radius: 2px 2px 10px 10px;
    height: 160px;
    z-index: 1;
}

.filter{
    display: flex;
    position: relative;
    padding: 4px;
}

.filter .icon{
    position: absolute;
    color: var(--risco-blue);
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.inputss{
    padding: 5px 30px 8px 12px;
}


.listagem ul {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 90%;
    background-color: var(--white);
    border-radius: 6px 6px 10px 10px;
    overflow-y: auto;
    z-index: 1;
}

.listagem ul li {
    padding: 8px;
    cursor: pointer;
}

.listagem ul li:hover {
    background-color: var(--blue-v7);
    border-radius: 8px;
}

