.lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--fundo-side-white);
    width: 55px;
    height: 100vh;
    padding: 20px;
    border: 1px solid var(--borda-extensao-gray);
    transition: transform 300ms, border-color 200ms 300ms;
}

.icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.icone li {
    list-style: none;
}

.icone a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.icone a:hover {
    background-color: var(--fundo-size-blue);
}

.icone .link-icon.ativo {

    background-color: var(--fundo-size-blue);
}

.icone .link-icon.ativo::before {
    content: '';
    left: 0;
    transform: translate(-100%);
    width: 4px;
    height: 15px;
    background-color: var(--risco-blue);
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.extensao.ativo {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: auto;
    width: 300px;
    height: 100vh;
    background-color: var(--fundo-side-white);
    box-shadow: var(--shadow-black) 0 20px 25px -5px;
    border-right: 1px solid var(--borda-extensao-gray);
    transition: transform 300ms, border-color 200ms 300ms;
    overflow-y: auto;
    z-index: 1;
    transform: translateX(55px);
}

.menuextends {
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.titulo {
    color: var(--primario-blue);
    font-size: var(--font-titulo);
    font-family: var(--font-titulo);
    font-weight: 700;
}

.listagem {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-column: auto;

}

.listagem svg {
    width: 20px;
    height: 20px;
}



.listagem span {
    color: var(--gray-secundario);
    font-size: var(--font-ul-sub);
}

.listagem a {
    width: 55%;
    color: var(--gray-secundario);
    font-size: var(--font-lista);
    gap: 10px;
}

.itemHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 10px;
}


.itemHeader .seta {
    flex: 1;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.itemHeader:hover {
    background-color: var(--fundo-size-blue);
}

.itemHeader.exibeai {
    background-color: var(--fundo-size-blue);
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.itemHeader.exibeai .seta {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.itemHeader.exibeai::before {
    content: '';
    left: 0;
    transform: translate(-100%);
    width: 4px;
    height: 15px;
    background-color: var(--risco-blue);
    border-radius: 10px;
}


.itemHeader.exibeai svg path {
    fill: var(--blue-mt-forte);

}

.itemHeader:hover svg path {
    fill: var(--blue-mt-forte);
}

.lsta {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.lsta.active {
    display: block;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    padding: 5px 10px 10px 10px;
}

.lsta.active a {
    width: 100%;
    max-height: 500px;
    text-align: left;
    display: block;
    padding: 5px 10px;
    border-radius: 0.5em;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.lsta.active a:hover {
    background-color: var(--fundo-size-blue);
}

/*Forçar as paginas a carregarem todo o restante disponivel*/
main {
    background-color: var(--fundo-side-outlet);
    flex: 1;
    align-content: center;
    padding: 10px 10px 0 10px;
}