.addmais{
    display: flex;
    position: absolute;
    width: 120px;
    height: 90px;
    background-color: var(--black-700);
    border: 1px solid var(--black-100);
    border-radius: 5px;
    align-items: center;
    top: -80px;
    left: 140px;
}

.addmais ul{
    list-style-type: none;
    width: 100%;
}

.addmais ul li{
    display: flex;
    justify-content: center;
}

.addmais li button{
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--gray-100);
    transition: background-color 0.4s ease;
}

.addmais li button:hover{
    background-color: var(--black-100);
}