.addmais{
    display: flex;
    position: absolute;
    width: 120px;
    height: 70px;
    background-color: var(--white);
    border: 1px solid var(--black-100);
    border-radius: 5px;
    align-items: center;
    right: 10px;
    top: -45px;
}

.addmais ul{
    list-style-type: none;
    width: 100%;
}

.addmais ul li{
    display: flex;
    justify-content: center;
}

.addmais li button{
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--primario-blue);
    transition: background-color 0.4s ease;
}

.addmais li button:hover{
    background-color: var(--fundo-size-blue);
}