.where {
    position: relative;
    width: 35%;
}

.icon {
    position: absolute;
    color: var(--risco-blue);
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.inputss {
    padding: 8px 20px 8px 30px;
    width: 100%;
    border-radius: 10px;
    color: var(--gray-secundario);
    background-color: var(--fundo-side-white);
    border: 1px solid var(--borda-extensao-gray);
}