@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black-900: #0F0F0F;   /* Fundo principal */
    --black-800: #1A1A1A;   /* Sidebar e fundo dos cards */
    --black-700: #232323;   /* Borda dos cards / campos */
    --black-400: #2F2F2F;   /* Hover ou contraste sutil */
    --black-100: #3A3A3A;   /* Linhas divisórias suaves */
    --gray-300: #B0B0B0;    /* Labels e status inativo */
    --gray-100: #E0E0E0;    /* Texto neutro claro */
    --yellow-300: #FDD835;   /* Status "adimplente" */
    --red-500:  #bd8b8b;     /* Status "inadimplente" */
    --yellow-400:  #f5c451;  
    --white: #FFFFFF;
    --green-300: #00c037;/* Alerta sucesso */
    --red-300:rgb(242 74 65);  /* Alerta erro */
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/*isso aqui é pra deixar todos os OUTLETS(pages) serem carregados a direita do layout compartilhado*/
#root{
  display: flex;
}

input:focus {
  outline: none;
}