.view {
    position: fixed; 
    top: 0;
    right: 0;
    height: 100vh;
    width: 450px;
    background-color:var(--white);
    border-left: 1px solid var(--borda-extensao-gray);
    padding: 10px;
    z-index: 1;
}

.gpimagem{
    width: 100%;
    max-height: 250px;
}

.imagem{
    display: flex;
    gap: 10px;
}

.imagem img{
    max-width: 100px;
    height: 100px;
    border-radius: 80px;
}

.infoprincipal{
    width: 100%;
    align-content: center;
}

.identificador{
    display: flex;
    justify-content: space-between;

}

.identificador span {
    border-radius: 5px;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.inadimplente {
    color: var(--red-v4);
    background-color: var(--red-v6);
}

.adimplente {
    color: var(--green-v5);
    background-color: var(--green-v4);
}

.dadosusuario , .dividadados{
    display: grid;
    padding: 10px 0 20px 0;
}

.dadosusuario h4 , .dividadados h4{
    color: var(--primario-blue);
}

.dadosusuario{
    gap: 10px;
}

.infodadosuser {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.resposta {
    display: flex;
    justify-content: space-between;
    border-left: 3px solid var(--primario-blue);
}

.resposta label{
    padding-left: 10px;
}

.infodadosuser label, .infodadosuser span, .infoprincipal h3{
    color: var(--gray-secundario);
    font-size: var(--font-small);
    font-weight: 600;
}


.tabela {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    cursor: grab;
}

.tabela thead,
.tabela tbody {
    display: block;
    width: 100%;
}

.tabela tbody {
    max-height: 450px;
    overflow-y: auto;
}

.tabela thead tr,
.tabela tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tabela th,
.tabela td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    width: 20%; 
    box-sizing: border-box;
}

.tabela thead tr {
    color: var(--gray-secundario);
    background-color: var(--gray-fundo-card);
    font-size: 16px;
    height: 50px;
}

.tabela tbody td {
    color: var(--gray-secundario);
    font-size: 14px;
    height: 40px;
    border-bottom: 1px solid var(--gray-100);
}

.tabela tbody tr:hover {
    background-color: var(--gray-100);
    transition: background-color 0.4s ease;
}


.pago{
    background-color: var(--green-v4);
    border-radius: 10px;
    padding: 5px;
    color: var(--green-v5);
}

.devendo{
    background-color: var(--red-v6);
    padding: 5px;
    border-radius: 10px;
    color: var(--red-v4);
}
