.container {
    display: flex;
    padding: 10px;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.novadivida, .pagardivida {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--yellow-400);
    color: var(--black-400);
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 125px;
    opacity: 1;
    transition: opacity 0.4s ease;
}

.grupobtn{
    display: flex;
    gap: 10px;
}

.pagardivida.botaoDesativado{
    opacity: 0;
}


.datatable {
    padding: 20px;
}

.tabela {
    display: table;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--black-400);
    border-radius: 10px;
    overflow: hidden;
}

.tabela thead tr {
    color: var(--gray-100);
    font-size: 16px;
    height: 50px;
}

.tabela tbody tr:hover {
    background-color: var(--black-100);
    transition: background-color 0.3s;
}

.tabela td,
.tabela th {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}

.tabela tbody td {
    color: var(--yellow-300);
    font-size: 14px;
    height: 40px;
    border-bottom: 1px solid var(--gray-100);
}

tbody td input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--yellow-300);
    width: 18px;
    height: 18px;
}

tbody td span svg {
    width: 20px;
    height: 20px;
    gap: 5px;
    cursor: pointer;
}

tbody td span svg:hover{
    color: var(--white);
}


tbody .frame {
    animation: fadeInMove 0.7s ease-in;
}

@keyframes fadeInMove {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.paginacao {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: var(--white);
}

a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--yellow-300);
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.pageNumber {
    display: inline-flex;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid var(--black-100);
    text-align: center;
}


.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.pageNumber:hover {
    border: none;
}

