.topo{
    padding: 10px;
    width: 240px;
}

.topo h3{
     color: var(--primario-blue);
    font-size: var(--font-titulo);
    font-weight: 700;
}

.container {
    display: flex;
    padding: 10px;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.novadivida, .pagardivida {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--primario-blue);
    color: var(--fundo-side-white);
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 125px;
    opacity: 1;
    transition: opacity 0.4s ease;
    width: 130px;
    height: 40px;
}

.grupobtn{
    display: flex;
    gap: 10px;
}

.grupobtn svg{
    width: 20px;
    height: 20px;
}

.pagardivida.botaoDesativado{
    opacity: 0;
}


.datatable {
    padding: 10px;
}

.tabela {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.tabela thead tr {
    color: var(--gray-secundario);
    background-color: var(--gray-fundo-card);
    font-size: 16px;
    height: 50px;
}

.tabela tbody tr:hover {
    background-color: var(--gray-100);
    transition: background-color 0.4s ease;
}

.tabela td,
.tabela th {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}

.tabela tbody td {
    color: var(--gray-secundario);
    font-size: 14px;
    height: 40px;
    border-bottom: 1px solid var(--gray-100);
}

tbody td input[type="checkbox"] {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

tbody td span svg {
    width: 20px;
    height: 20px;
    gap: 5px;
    cursor: pointer;
}

tbody td span svg path:hover{
    fill: var(--black-800);
}

.pago{
    background-color: var(--green-v4);
    border-radius: 10px;
    padding: 5px;
    max-width: 45px;
    color: var(--green-v5);
}

.devendo{
    background-color: var(--red-v6);
    padding: 5px;
    max-width: 80px;
    border-radius: 10px;
    color: var(--red-v4);
}

tbody .frame {
    animation: fadeInMove 0.1s ease-in;
}

@keyframes fadeInMove {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}







