.componente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 464px;
    border-radius: 10px;
    background-color: var(--black-700);
    box-shadow: 0 4px 4px var(--black-400);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 9999;
}
.dialogo {
    opacity: 1;
}

.header {
    padding: 0 24px;
    border-bottom: none;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 68px;
    width: 416px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    color: var(--red-300);
    margin: 0;
}

.descricao {
    padding: 16px 24px;
    font-size: 16px;
    color: var(--gray-300);
    width: 416px;
    gap: 16px;
    opacity: 1;
}

.descricao strong{
   color: var(--white);
}

.finale {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 0 24px 16px 24px;
    border-top: none;
    border-radius: 10px 0 0 0;
    opacity: 1;
}

