.modal{
    position: fixed;
    top: 20%;
    left: 40%;
    width: 500px;
    height: 350px;
    background-color:var(--gray-fundo-card);
    padding: 12px;
    border-radius: 20px;
    border: var(--shadow-black);
    opacity: 1;
    z-index: 1;
    transition: opacity 0.1 ease-out;
}

.ocultar{
    opacity: 0;
    position: fixed;
    z-index: -1;
    display: none;
}

.close{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 24px;
    color: var(--gray-300);
    cursor: pointer;
    transition: color 0.5s ease;
}


.close:hover{
    color: var(--black-900);
}