.cadastraCliente label {
    color: var(--gray-secundario);
    font-size: var(--font-ul-sub);
    font-size: 15px;
}

.cadastraCliente.container {
    padding: 2rem;
    border-radius: 10px;
    color: var(--texto-primario);
    position: relative;
    width: 100%;
}


.cadastraCliente input,
.cadastraCliente select {
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    padding: 0.6em 1em;
    color: var(--gray-secundario);
    width: 100%;
    transition: border-color 0.3s;
}

.grupo {
    width: 100%;
}

.row {
    display: flex;
    gap: 12px;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.buttoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding: 3px 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
    padding-top: 15px;
}

.buttoes .cancelar {
    background-color: var(--gray-300);
    color: var(--black-900);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: 0.2s ease;
}

.buttoes .cadastrar {
    background-color: var(--azul-meio-forte);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: 0.2s ease;
}

.buttoes .cancelar:hover {
    background-color: var(--gray-secundario);
}

.buttoes .cadastrar:hover {
    background-color: var(--blue-mt-forte);
}





.upload {
    height: 100px;
    width: 100px;
    display: flex;

    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #000000;
    background-color: #e7e7e7;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #000000;
}

.upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.upload input {
    display: none;
}

.ocultar {
    display: none;
}


.row .imagem img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}